.AppWrapper {
  width: 90%;
  margin-left: 5%;
  background-color: #dbdbdb;
}

.Header {
  width: 100%;
  background-color: #ff1744;
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

h2 {
  margin-left: 1rem;
}

.logoImg {
  margin-left: 1rem;
  width: 5rem;
  transform: scale(-1, 1);
}

button {
  margin-top: 0 !important;
  padding: 0.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.Wrapper {
  display: flex;
  align-items: center;
}
